.ToastContainer {
  padding: 0;
  text-align: left;
  border: 3px solid red;
}

.Toastify__toast {
  background-color: rgba(0, 0, 0, 0.8); /* #000000CC */
  border-radius: 8px;
  box-shadow: var(--shadow-low);
  padding: 19px 30px;
  width: 524px;
  height: 64px;
  opacity: 1; /* 초기 상태에서 보이도록 설정 */
}

.Toastify__toast-theme {
  background: rgba(0, 0, 0, 0.8);
  color: var(--white);
}

.Toastify__close-button {
  display: none;
}

.CustomCloseButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  overflow: hidden;
}

.ToastMessage {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: var(--black);
  width: 151px;
  height: 26px;
  overflow-wrap: break-word;
  white-space: normal;
  flex-grow: 1;
  margin: 0 1rem;
  opacity: 1; /* 초기 상태에서 보이도록 설정 */
}
