.outLinedArea {
  position: relative;
  display: flex;
}

.pickerContainer {
  position: absolute;
  right: 1.5rem;
  top: calc(100% + 0.5rem);
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .pickerContainer {
    right: 5.5rem;
    top: calc(100% + 0.5rem);
  }
}

/* 임의 스타일링 */
.emojiDropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
