html {
  color: #181818;
  font-size: 10px;
  text-size-adjust: none;
  line-height: 1.5;
  letter-spacing: -1%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
address,
figure,
hr,
object,
iframe,
img,
button,
input,
select,
textarea,
label,
a,
span,
em,
strong,
small,
sub,
sup,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type='radio'],
input[type='checkbox'],
select {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #fff;
  background-color: #f59000;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    Pretendard,
    'Pretendard Variable',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1248px) {
  html {
    font-size: 0.8013rem;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  html {
    font-size: 1.3038rem;
  }
}
