/* 전체 feat을 관리하고 있는 Section */
.featSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 120rem;
  margin: 0 auto;
}

/* feat 설명 안에서 태그 부분 */
.tagSection {
  display: inline-block;

  margin-bottom: 1.6rem;
  padding: 0.6rem 1.2rem;
  border-radius: 50px;
  background-color: var(--purple-600);
}

/* feat 설명 안에서 text 부분 */
.textSection {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.buttonSection {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.4rem;
}

@media screen and (min-width: 768px) and (max-width: 1248px) {
  .featSection {
    width: 72rem;
  }

  .buttonSection {
    padding: 2.4rem 0;
  }
}

@media screen and (max-width: 767px) {
  .featSection {
    width: 32rem;
    gap: 2.4rem;
  }

  .tagSection {
    padding: 0.4rem 1.2rem;
  }

  .textSection {
    gap: 0.4rem;
  }

  .buttonSection {
    padding: 2.4rem 0;
  }
}
